@{
    ViewData["Title"] = "Home Page";
    string value = "My Page";
}

<div class="text-center">
    <h1 class="display-4">@value</h1>
    <p>@ViewData["Name"]</p>
    <p>@ViewBag.Age</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
